/* ---------------------------------------------------- */
/*
    [css-file]: html_body.css
    
    [info]: describe all default css sets which will
    be used on all webpages 

/* ---------------------------------------------------- */


html, body { 

    /* default 1rem = 16px  */
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    color:var(--light-fog-2-grey);

    line-height: 1.5em;

    /* delete default webpage margin */
    margin:0em;

    /* stretch height content */
    display: grid;
    grid-template-rows: auto auto 1fr;
    
    min-height: 100vh;

    /* smooth jumping anker */
    scroll-behavior: smooth;

  
}