/* ---------------------------------------------------- */
/*
    [css-file]: colors-and-bg-colors.css
    
    [info]: defines all colors and background colors 
    which will be used in our webpages 

/* ---------------------------------------------------- */



:root { 

    /* ---------------------------------------------- */
    /* Default Colors 
    /* ---------------------------------------------- */
    
    --white:white;
    --black:black;
    

    /* ---------------------------------------------- */
    /* [1/3] - Light Colors 
    /* ---------------------------------------------- */

    


        /* -------------------------- */
        /* Light Grey's
        /* -------------------------- */

        --light-fog-1-grey: #F2F2F2;
        --light-fog-2-grey: #E6E6E6;
        --light-grey: #E6E6E6;

        /* -------------------------- */
        /* Light brown's
        /* -------------------------- */
    
        --light-skin-1-brown: #d1c0a5;
        --light-skin-2-brown:  #d1b78e;
        --light-brown: #d9bf98;

        

    
        
        /* -------------------------- */
        /* Light blues's
        /* -------------------------- */

        --light-fog-1-blue: lightblue;
        --light-fog-2-blue: rgb(133, 201, 224);
        
        
        /* -------------------------- */
        /* Light red's
        /* -------------------------- */
    
        --light-fog-1-red: #F5A9A9;
        --light-fog-2-red: #fa8383;
        --light-red: #F94D4D ;
        
        
        /* -------------------------- */
        /* Light yellow's
        /* -------------------------- */

        --light-fog-1-yellow: #f1f3b1;
        --light-fog-2-yellow: #eaee82;
        
        /* -------------------------- */
        /* Light green's
        /* -------------------------- */

        --light-fog-1-green:#acd4ac;
        --light-fog-2-green: #7ece7e;
    
  
    
    
    /* ---------------------------------------------- */
    /* [2/3] - Middle Light Colors 
    /* ---------------------------------------------- */


        /* -------------------------- */
        /* Middle grey's
        /* -------------------------- */

        --middle-1-grey: #aaaaaa;
        --middle-2-grey: #929292;


        /* -------------------------- */
        /* Middle blues's
        /* -------------------------- */

        --sea-1-blue: #487ef1;
        --sea-2-blue: #386cdb;

        --baby-1-blue: #2dceff;
        --baby-2-blue: #0aacdd;

        
        /* -------------------------- */
        /* Middle red's
        /* -------------------------- */

        --light-shining-red: #FF0000;


        /* -------------------------- */
        /* Middle green's
        /* -------------------------- */

        --happy-1-green: #01DF01;
        --correct-1-green: #15aa15;


        /* -------------------------- */
        /* Middle yellows's
        /* -------------------------- */

        --sun-1-yellow: #F7FE2E;
        --sun-2-yellow: #eef700;
        

    
    /* ---------------------------------------------- */
    /* [3/3] - Dark Colors 
    /* ---------------------------------------------- */
    
    
        /* -------------------------- */
        /* Dark Grey's
        /* -------------------------- */

        --rainy-dark-1-grey: #616161;
        --rainy-dark-2-grey: #474545;
        --dark-moon-grey: #424242;
        --dark-grey: #333333;

        
       
        
        /* -------------------------- */
        /* Dark Black
        /* -------------------------- */
    
        --moon-dark-black: #212121;
       
    
        /* -------------------------- */
        /* Dark Red's
        /* -------------------------- */
      
        --dark-red: #B40404;
    
    
        /* -------------------------- */
        /* Dark Brown's
        /* -------------------------- */

        --dark-violin-brown: #61380B;
        --dark-frosted-brown: #6b5441;
      
    
    }





/* ---------------------------------------------- */
/* Background Colors 
/* ---------------------------------------------- */