/* ---------------------------------------------------- */
/*
    [css-file]: resp-footer.css
    
    [info]: defines all responsive handlings by 
    sizing the screen

/* ---------------------------------------------------- */





/* --------------------------------------------------- */
/*  >= 380px
/*  
/* - Footer Header Bigger Sizes
/* --------------------------------------------------- */
@media (min-width: 380px) {

    #footer-title { font-size: 1.5em; }
    #img-svg-footer-compass { width: 5em };
   
}

@media (min-width: 680px) {

    #footer-title { font-size: 1.7em; }
    #img-svg-footer-compass { width: 6em };

    
}


@media (min-width: 960px) {

    #footer-title { font-size: 1.7em; }
    #img-svg-footer-compass { width: 8em };
  
}


@media (min-width: 1280px) {

   
    .img-footer-topic {width: 1.6em; }

    .img-footer-user { width: 3em; }

    #img-footer-me-dog { 

        width: 8em;
        top: -8em;
        right: 1.5em;
    }

}
    
    
    
  








